@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Serif Bengali", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Serif Bengali", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  font-family: "Noto Serif Bengali", serif;
}
